{% extends "spreadui/base.html" %}
{% block title %}Spreadsheet Demo{% endblock title %}

{% block content %}
<div class="spreadsheet-container">
  <h1>Spreadsheet Demo</h1>

  <table class="spreadsheet-table">
    <thead>
      <tr>
        <th class="header-cell"></th>
        <th class="header-cell">A</th>
        <th class="header-cell">B</th>
        <th class="header-cell">C</th>
        <th class="header-cell">D</th>
        <th class="header-cell">E</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="row-header">1</td>
        <td class="data-cell"><span class="cell-content">Data A1</span></td>
        <td class="data-cell"><span class="cell-content">Data B1</span></td>
        <td class="data-cell"><span class="cell-content">Data C1</span></td>
        <td class="data-cell"><span class="cell-content">Data D1</span></td>
        <td class="data-cell"><span class="cell-content">Data E1</span></td>
      </tr>
      <tr>
        <td class="row-header">2</td>
        <td class="data-cell"><span class="cell-content">Data A2</span></td>
        <td class="data-cell"><span class="cell-content">Data B2</span></td>
        <td class="data-cell"><span class="cell-content">Data C2</span></td>
        <td class="data-cell"><span class="cell-content">Data D2</span></td>
        <td class="data-cell"><span class="cell-content">Data E2</span></td>
      </tr>
      <tr>
        <td class="row-header">3</td>
        <td class="data-cell"><span class="cell-content">Data A3</span></td>
        <td class="data-cell"><span class="cell-content">Data B3</span></td>
        <td class="data-cell"><span class="cell-content">Data C3</span></td>
        <td class="data-cell"><span class="cell-content">Data D3</span></td>
        <td class="data-cell"><span class="cell-content">Data E3</span></td>
      </tr>
      <tr>
        <td class="row-header">4</td>
        <td class="data-cell"><span class="cell-content">Data A4</span></td>
        <td class="data-cell"><span class="cell-content">Data B4</span></td>
        <td class="data-cell"><span class="cell-content">Data C4</span></td>
        <td class="data-cell"><span class="cell-content">Data D4</span></td>
        <td class="data-cell"><span class="cell-content">Data E4</span></td>
      </tr>
      <tr>
        <td class="row-header">5</td>
        <td class="data-cell"><span class="cell-content">Data A5</span></td>
        <td class="data-cell"><span class="cell-content">Data B5</span></td>
        <td class="data-cell"><span class="cell-content">Data C5</span></td>
        <td class="data-cell"><span class="cell-content">Data D5</span></td>
        <td class="data-cell"><span class="cell-content">Data E5</span></td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock content %}
