{% extends "spreadui/base.html" %}
{% block title %}Spreadsheet Demo{% endblock title %}

{% block content %}
<div class="spreadsheet-container">
  <h1>Spreadsheet Demo</h1>

  <table class="spreadsheet-table">
    <thead>
      <tr>
        <th class="header-cell"></th>
        {% for col in "A" %}
          <th class="header-cell">{{ col }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in "12345" %}
        <tr>
          <td class="row-header">{{ row }}</td>
          {% for col in "A" %}
            <td class="data-cell"><span class="cell-content">Data {{col}}{{row}}</span></td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
